
{% extends 'base_master.html' %}

{% block content %}

<section>
    <div class="enlaces"><a href='/home_page'>pagina de inicio</a></div>
    <h3>Proyecto Eléctrico</h3>
    <h5>"Creación de una plataforma de presentación interactiva
        remota con Django y Reveal.js"</h5>
    <p>Estudiante: Emmanuel Morera Salas</p>
</section>
<section id="Agenda">
    <div class="enlaces"><a href='/home_page'>pagina de inicio</a></div>
    <h3>Agenda</h3>
    <p>
        <ul>
            <li><a href="#/Objetivo_general">Objetivo General</a></li>
            <li><a href="#/Objetivos_específicos">Objetivos Específicos</a></li>
            <li><a href="#/Django">Breve descripción de Django</a></li>
            <li><a href="#/Reveal">Breve descripción de Reveal</a></li>
            <li><a href="#/Multiplex">Breve descripción de Multiplex</a></li>
            <li><a href="#/Heroku">Breve descripción de Heroku y Github</a></li>
            <li><a href="#/Modelo">Presentación Modelo</a></li>
            <li><a href="#/Conclusiones">Conclusiones</a></li>
            <li><a href="#/Recomendaciones">Recomendaciones</a></li>
        </ul>
    </p>
</section>
<section id="Objetivo_general">
    <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
    <h3>Objetivo General</h3>

    <p><li>Crear un sitio web que permita la presentación remota y sincrónica de materiales de clase y que permita
        el registro e interacción de usuarios.</li></p>
</section>
<section id="Objetivos_específicos">
    <section>
    <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
    <h3>Objetivos específicos</h3>
    <p>
        <ul>
            <li><a href="#/Django1">Django como plataforma back end, para manejo de bases de datos, usuarios y sesiones.</a></li>
            <li><a href="#/Reveal1">Reveal.js como tecnología front end, para creación de presentaciones web con contenido multimedia.</a></li>
        </ul>
    </p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Objetivos específicos</h3>
        <p>
            <ul>
                <li><a href="#/Multiplex">Presentaciones remotas que almacenan respuestas de usuarios.</a></li>
                <li><a href="#/Modelo">Crear una presentación Modelo</a></li>
            </ul>
        </p>
    </section>
</section>
<section>
    <section id="Django">
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Es un entorno de trabajo para el desarrollo de aplicaciones web basado en python</p>
        <p>Basado en un modelo MTV (Model Template View)</p>   
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Estructura general de Django</p>
        {% load static %}
        <img src="{% static 'principal_django.png' %}" width="400" height="300">
        <p>Elementos que contiene el directorio principal</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Estructura general de Django</p>
        {% load static %}
        <img src="{% static 'electric_project.png' %}" width="400" height="300">
        <p>Elementos que contiene el directorio electric_project</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Estructura general de Django</p>
        {% load static %}
        <img src="{% static 'users.png' %}" width="400" height="300">
        <p>Elementos que contiene el directorio users</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Estructura general de Django</p>
        {% load static %}
        <img src="{% static 'presentation.png' %}" width="400" height="300">
        <p>Elementos que contiene el directorio presentation</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Django</h3>
        <p>Estructura general de Django</p>
        {% load static %}
        <img src="{% static 'static.png' %}" width="400" height="300">
        <p>Elementos que contiene el directorio static</p>
    </section>
</section>
<section>
    <section id="Reveal">
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Reveal.js</h3>
        <p>Es un entorno de trabajo para crear presentacioes web, utilizando estilos CSS y personalización por medio de JavaScript</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Reveal.js</h3>
        <p>Estructura general de Reveal.js</p>
        <pre data-id="code-animation"><code class="html" data-trim data-line-numbers>
            <head>
                ...
                <title>Prueba de reveal.js</title>
                <link rel="stylesheet" type="text/css"
                ↪
                href="https://cdnjs.cloudflare.com/.../reveal.js/4.1.0/theme/blood.min.css"
                ↪
                id="theme">
                <link rel="stylesheet"
                ↪
                href="https://cdnjs.cloudflare.com/.../4.1.0/plugin/highlight/monokai.min.css"
                ↪
                id="highlight-theme">-
                ...
                </head>
        </code></pre>
        <p>Cabecera de Reveal.js</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Reveal.js</h3>
        <p>Estructura general de Reveal.js</p>
        <pre data-id="code-animation"><code class="html" data-trim data-line-numbers>
            <section id="home_page">
            <h2>Proyecto Eléctrico</h2>
            <p>
            Bienvenido <b>user</b>.
            Puede acceder a nuestra presentación interactiva a continuación:
            <a href="/presentation">Primera presentacion</a>
            </p>
            <hr />
            <a href="/logout">Cerrar sesión</a>
            </section>
        </code></pre>
        <p>Cuerpo de Reveal.js con contenido a presentar</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Reveal.js</h3>
        <p>Estructura general de Reveal.js</p>
        <pre data-id="code-animation"><code class="html" data-trim data-line-numbers>
  
            <script src="https://cdnjs.cloudflare.com/.../4.1.0/plugin/math/math.min.js"></script>
            <script>
            Reveal.initialize({
            hash: true,
            math: {
            mathjax:'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js', config: 'TeX-AMS_HTML-full',
            },
            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ]
            });</script>
        </code></pre>
        <p>Inicialización de Reveal.js</p>
    </section>    
</section>
<section id="Multiplex">
    <section>
        <h3>Multiplex</h3>
        <p>Multiplex es un plugin de Reveal.js para el control remoto de sus diapositivas web</p>
        {% load static %}
        <img src="{% static 'multiplex.png' %}">
        <p>Diagrama de comunicación de Multiplex</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Multiplex</h3>
        <p>Estructura general de Multiplex</p>
        <pre data-id="code-animation"><code class="html" data-trim data-line-numbers>
            <body>
            multiplex: {
                secret: '16079428255931371693', 
                id: 'e4f58391ab15991a', 
                url: 'https://reveal-multiplex.glitch.me/' 
                },
                dependencies: [
                { src: 'https://reveal-multiplex.glitch.me/socket.io/socket.io.js', async: true },
                { src: 'https://reveal-multiplex.glitch.me/master.js', async: true },
                ],
                }
            </body>    
        </code></pre>
        <p>Inicialización de Reveal.js</p>
    </section>
</section>
<section id="Heroku">
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Heroku</h3>
        <p>Servicio de plataforma en la nube (PaaS) basado en contenedores, que brinda soporte
            para aplicaciones Django</p>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Github</h3>
        <p>Repositorio gratuito para alojar proyectos en línea, utilizando un control de versiones</p>
    </section>
</section>
<section id="Modelo">
    <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
    <h2>Contenido</h2>
    <p>Descripción del contenido a mostrar en una presentación típica del curso de Modelos Probabilísticos de Señales y Sistemas</p>
</section>
<section id="Secciones">
    <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
    <h3>Secciones</h3>
    <ul>
        <li><a href="#/Información_estática">Información estática</a></li>
        <li><a href="#/Gráficas_estáticas">Gráficas estáticas</a></li>
        <li><a href="#/Gráficas_interactivas">Gráficas interactivas</a></li>
        <li><a href="#/Animaciones">Animaciones</a></li>
        <li><a href="#/Multimedia">Multimedia</a></li>
        <li><a href="#/Navegación_de_páginas_web">Navegación de páginas web</a></li>
        <li><a href="#/Código_estático">Código estático</a></li>
        <li><a href="#/Código_interactivo">Código interactivo</a></li>
        <li><a href="#/Participación">Participación</a></li>
    </ul> 
</section>
<section id="Información_estática">
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Información estática</h3>
        <h4><i class="fas fa-bookmark"></i></h4>
        <p>Distintos tipos de contenido que puede mostrar.</p>
        <ul>
            <li><a href="#/Ecuaciones">Ecuaciones</a></li>
            <li><a href="#/Tablas">Tablas</a></li>
            <li><a href="#/Definiciones">Definiciones</a></li>
        </ul>
    </section>
    <section id="Ecuaciones">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Ecuaciones</h3>
        \[
            f_X(x) = \lambda e^{-\lambda x}
        \]
    </section>
    <section id="Tablas">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Tablas</h3>
        <table>
            <caption>Ejemplo de uso de tablas</caption>
            <tr>
                <th>Primera fila</th>
                <th>Celda 1</th>
                <th>Celda 2</th>
            </tr>
            <tr>
                <th>Segunda fila</th>
                <th>Celda 3</th>
                <th>Celda 4</th>
            </tr>
        </table>
    </section>
    <section id="Definiciones">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Definiciones</h3>
        <blockquote>
            Sea $X$ una variable aleatoria con función de densidad dada por:
            \begin{equation}
                f_X(x) = x + y + z
            \end{equation}
        </blockquote>
    </section>
</section>

<section id="Gráficas_estáticas">
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Gráficas estáticas</h3>
        <h4><i class="fas fa-images"></i></h4>
        <p>Generadas en Python u otros e importadas.</p>
        <ul>
            <li><a href="#/Gráficas_SVG">Gráficas SVG</a></li>
            <li><a href="#/Gráficas_PNG">Gráficas PNG</a></li>
        </ul>
    </section>
    <section id="Gráficas_SVG">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Gráficas SVG</h3>
        {% load static %}
        <img src="{% static 'PDF.svg' %}" width="700" height="300">
        <p>Tomado de la <a href="https://matplotlib.org/3.1.1/tutorials/introductory/pyplot.html#sphx-glr-tutorials-introductory-pyplot-py">pagina oficial de matplotlib</a> </p>
    </section>
    <section id="Gráficas_PNG">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>        
        <h3>Gráficas PNG</h3>
        {% load static %}
        <img src="{% static 'grafica_estatica.png' %}" width="700" height="300">
        <p>Tomado de la <a href="https://matplotlib.org/3.1.1/tutorials/introductory/pyplot.html#sphx-glr-tutorials-introductory-pyplot-py">pagina oficial de matplotlib</a> </p>
    </section>
</section>

<section id="Gráficas_interactivas">
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Gráficas interactivas</h3>
        <h4><i class="fas fa-images"></i></h4>
        <p>Uso de Gráficas interactivas como por ejemplo:</p>
        <ul>
            <li><a href="#/Matplotlib">Matplotlib</a></li>
            <li><a href="#/Bokeh">Bokeh</a></li>
        </ul>
    </section>
    <section id="Matplotlib">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Matplotlib</h3>
        {% load static %}
        <img src="{% static 'matplotlib.png' %}" width="700" height="300">
        <p>Tomado de la <a href="https://matplotlib.org/3.1.1/gallery/pyplots/whats_new_99_mplot3d.html#sphx-glr-gallery-pyplots-whats-new-99-mplot3d-py">pagina oficial de matplotlib</a> </p>
     </section>
    <section id="Bokeh">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Bokeh</h3>
        <p>Ejemplo de graficas interactivas con Bokeh</p>
            <iframe data-src="https://demo.bokeh.org/sliders" width="700" height="380" frameborder="2" marginwidth="2" marginheight="2"></iframe>
        <p>Tomado de la <a href="https://demo.bokeh.org/sliders">pagina oficial de Bokeh</a></p>
    </section>
</section>

<section>
    <section id="Animaciones">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Animaciones</h3>
        <h4><i class="fas fa-exclamation"></i></h4>
        <p>Uso de animaciones como las siguientes:</p>
        <ul>
            <li><a href="#/Animaciones_GIF">Formato GIF</a></li>
            <li><a href="#/Animaciones_Matplotlib">Matplotlib</a></li>
            <li><a href="#/Manim">Manim</a></li>
        </ul>
    </section>
    <section id="Animaciones_GIF">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>GIF</h3>
        <p>Histograma animado</p>
        {% load static %}
        <img src="{% static 'animated_histogram.gif' %}" width="700" height="300">
        <p>Tomado de la <a href="https://matplotlib.org/3.1.1/gallery/animation/animated_histogram.html#sphx-glr-gallery-animation-animated-histogram-py">pagina oficial de matplotlib</a> </p>             
    </section>
    <section id="Animaciones_Matplotlib ">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Matplotlib</h3>
        <p>Control interactivo con Matplotlib</p>
        <img src="{% static 'control_interactivo.gif' %}" width="700" height="300">
        <p>Tomado de la <a href="https://sodocumentation.net/es/matplotlib/topic/6983/animaciones-y-tramas-interactivas-">SO documentación</a> </p>
    </section>
    <section id="Manim">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Manim</h3>
        {% load static %}
        <img src="{% static 'Manim.png' %}" width="700" height="300">
        <p>Tomado de <a href="https://github.com/3b1b/manim">La página oficial de Manim</a> </p>
    </section>
</section>

<section>
    <section id="Multimedia">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Multimedia</h3>
        <h4><i class="fas fa-photo-video"></i></h4>
        <p>Uso de archivos multimedioa como las siguientes:</p>
        <ul>
            <li><a href="#/PDF">Archivos PDF</a></li>
            <li><a href="#/Audio">Archivos de Audio</a></li>
            <li><a href="#/Video">Archivos de Video</a></li>
        </ul>
    </section>
    <section id="PDF">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>PDF</h3>
        {% load static %}
        <iframe data-src="{% static 'Proyecto_electrico.pdf' %}" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>       
    </section>
    <section id="Audio">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Audio</h3>
        {% load static %}
        <p> Ejemplo de la utilización de audios en la presentación</p>
        <audio data-autoplay controls src="{% static 'audio_reveal.mp3' %}"></audio>
    </section>
    <section id="Video">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Video</h3>
        {% load static %}
        <p>Ejemplo de utilización de video en la presentación</p>         
        <video data-autoplay controls src="{% static 'video_reveal.mp4' %}"></video>
    </section>
</section>
<section>
    <section id="Navegación_de_páginas_web">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Navegación de páginas web</h3>
        <h4><i class="fas fa-window-restore"></i></h4>
        <p>Con <code>iframe</code> es posible mostrar fragmentos o páginas web completas.</p>    
    </section>
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Video</h3>
        <p>Ejemplo de uso de <code>iframe</code> para mostrar videos de youtube</p>    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZA4JkHKZM50" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>¿Por qué "probabilidad igual a 0" no significa "imposible"? Tomado de <a href="https://www.3blue1brown.com/"> 3blue1brown</a></p>
    </section>
</section>
<section>
    <section id="Código_estático">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Código estático</h3>
        <h4><i class="fas fa-code"></i></h4>
        <p>Visualización de segmentos de código.</p>
        <ul>
            <li><a href="#/Código_python">Código python</a></li>
            <li><a href="#/Jupyter">Libro de notas de Jupyter</a></li>
        </ul>      
    </section>
    <section id="Código_python">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Código con formato</h3>
        <pre data-id="code-animation"><code class="python" data-trim data-line-numbers>
            import numpy as np
            from scipy import stats
            import matplotlib.pyplot as plt

            # Repeticiones
            N = 500

            # Distribución de X
            X = stats.uniform(0, 1)
        </code></pre>
        
    </section>
    <section id="Jupyter" data-background-iframe="https://view.datalore.jetbrains.com/notebook/8tuDM4WOzATFN9vLFLaUky?force_sso=true" data-background-interactive>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Notebooks de Jupyter con Datalore</h3>
        
    </section>
</section>

<section>
    <section id="Código_interactivo">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Código interactivo</h3>
        <h4><i class="fas fa-laptop-code"></i></h4>
        
            <p>La utilización de código interactivo como el acceso a <a href="#/Repl_it">Repl.it</a></p>
                 
    </section>
    <section id="Repl_it">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Repl.it</h3>
        <iframe height="400px" width="100%" src="https://repl.it/@fabianabarca/TransformacionRaizCuadrada?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        
    </section>
</section>
<section>
    <section id="Participación">
    <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
    <h3>Participación</h3>
    <h4><i class="fas fa-tasks"></i></h4>
    <p>Ejemplos de participación de usuarios</p>
    <ul>
        <li><a href="#/Radio_Buttons">Radio Buttons example</a></li>
        <li><a href="#/Range_Field">Range Field Example</a></li>
    </ul> 
    </section>
    <section id="Radio_Buttons">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Radio Buttons example</h3>
        <h4><i class="fas fa-bookmark"></i></h4>
        <p>Seleccione su color favorito</p>
        <form action="" method="POST">{% csrf_token %}
            <p>
                <input hidden id="user" name="user" value={{user.username}}><br>
                <input type="radio" id="color1" name="color" value="Rojo">
                <label for="color1"> Rojo </label><br>
                <input type="radio" id="color2" name="color" value="Azul">
                <label for="color2"> Azul </label><br>
                <input type="radio" id="color3" name="color" value="Verde">
                <label for="color3"> Verde </label>
            </p>

            <p>
                <button type="submit" value="Submit">submit </button> 
            </p>        
        </form> 
        
    </section>
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Radio Buttons Example</h3>
        <h4><i class="fas fa-bookmark"></i></h4>
        <p>La respuesta del usuario {{respuesta.user}} es: {{respuesta.color}}</p>
    </section>  
    <section id="Range_Field">
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div> 
        <h3>Range Field Example</h3>
        <h4><i class="fas fa-bookmark"></i></h4>
        <p>Escoja un rango deceado de Volumen</p>
        <form action="" method="POST">{% csrf_token %}
            <input hidden id="user" name="user" value={{user.username}}><br>
                <label for="vol">Volumen (Entre 0 y 50):</label>
                <input type="range" id="vol" name="vol" min="0" max="50">
            <p>
                <button type="submit" value="Submit">submit </button> 
            </p>
        </form>  
    </section>
    <section>
        <div class="enlaces"><a href="#/Secciones">Secciones</a></div>
        <h3>Range Field Example</h3>
        <h4><i class="fas fa-bookmark"></i></h4>
        <p>La respuesta del usuario</p>{{respuesta.user}}<p> es: {{respuesta.vol}}</p>    
    </section>
</section>
<section id="Conclusiones">
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Conclusiones</h3>
        <ul>
            <li>Se diseñó una aplicación web, capaz de manejar bases de datos y el flujo de información, con Django.</li>
            <li>Se utilizó la estructura interna de Django para la creación, autenticación y manejo de usuarios.</li>
        </ul>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Conclusiones</h3>
        <ul>
            <li>Se definió una plantilla para la creación de diapositivas web con Reveal.js</li>
            <li>Se creó una estructura de control remoto de diapositivas web basado en el plúgin Multiplex.</li>
        </ul>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Conclusiones</h3>
        <ul>
            <li>Se desarrolló una aplicación web que unifica los dos frameworks (Django y Reveals.js) capáz de contener respuesta de usuarios.</li>
        </ul>
    </section>
</section>
<section id="Recomendaciones">
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Explorar la posibilidad de utilizar Django en sistemas operativos para servidores.</li>
            <li>Explorar la posibilidad de implementar la aplicación por medio de una infraestructura de servicio web.</li>
        </ul>
    </section>
    <section>
        <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
        <h3>Recomendaciones</h3>
        <ul>
            <li>Explorar la posibilidad de incorporar una conferencia de audio en el mismo sitio de la presentación.</li>
            <li>Explorar la posibilidad de incorporar chat grupal en el mismo sitio de la presentación.</li>
        </ul>
    </section>
</section>
<section>
    <div class="enlaces"><a href="#/Agenda">Agenda</a></div>
    <h2>Sección de Preguntas</h2>
</section>
<section>
    <div class="enlaces"><a href='/home_page'>pagina de inicio</a></div>
    <h2>Muchas gracias</h2>
</section>
<section>
    <div class="enlaces"><a href='/home_page'>pagina de inicio</a></div>
    <h2>Bibliografía</h2>
    <ul>
        <li>Django. The web framework for perfectionists with deadlines.|django, 2021.<a href="https://www.djangoproject.com">Pagina oficial</a> </li>
        <li>Hakim El Hattab. The html presentation framework.|reveal.js, 2020.<a href="https://revealjs.com/">Pagina oficial</a> </li>
        <li>Hakim El Hattab. Multiplex plugin, 2021.<a href="https://github.com/reveal/multiplex">Pagina oficial</a> </li>
        <li>salesforce company. Heroku, 2021.<a href="https:www.heroku.com">Pagina oficial</a> </li>

    </ul>
</section>


{% endblock %}